<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.18-beta.0/vue.js"></script>
   
</head>
<body>
    <div id="app">
        <!-- 对于数组，item 渲染的是值，index渲染的是 下标 -->
        <div v-for="(item,index) of arr">

            {{item}}--->{{index}}
        </div>
        <!-- 对于对象来说  item 渲染的是值，index渲染的是属性名 -->
        <div v-for="(item,index) of obj">

                {{item}}--->{{index}}
            </div>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                arr:[1,2,3],
                obj:{name:"Lucy",age:20,sex:"male"}
            }
        })
    </script>
</body>
</html>